/Abundant.py
/anagramstring.py
/ArmstrongNo.py
/ArmstrongWithRange.py
/arrayex2.py
/array_sum.py
/Autophormic.py
/Averange.py
/capitalize_firstandlaast.py
/check_alphabet.py
/count_distinct.py
/count_odd_even.py
/count_vowel.py
/disjoint.py
/distinct.py
/Factor.py
/Factorials.py
/findpair.py
/find_ASCII.py
/find_lcmrec.py
/find_min.py
/find_minimum.py
/fin_maxandmin.py
/firstprogram.py
/ForEx1.py
/ForEx2.py
/freqency.py
/FriendlyPair.py
/FunctionEx.py
/grade.py
/Greatest.py
/GreatestNo.py
/GreatestThreeNo.py
/HarshadNo.py
/hcfrec.py
/immutableex1.py
/largerec.py
/largest.py
/largestElmRecursion.py
/LeapYear.py
/length_str.py
/ListEx1.py
/maxpalindrome.py
/max_product.py
/minimumvectorproduct.py
/Movies.py
/MultipleCheck.py
/NegPos.py
/non_repeating_char.py
/non_repeating_elm.py
/NoToList.py
/OddEven.py
/OddEvenNo.py
/Palindrome.py
/PalindromeList.py
/palindromestr.py
/palindromeusningslice.py
/PerfectNo.py
/PerfectSquare.py
/permutation.py
/power.py
/PowerRec.py
/powerrecursion.py
/Primefactor.py
/PrimeNo.py
/PrimeNoRange.py
/primerec.py
/primeRecursion.py
/print100to1.py
/print1to100.py
/range.py
/rangeex.py
/RangeEx1.py
/RangeEx2.py
/RangeEx3.py
/recurisonex.py
/removestr.py
/remove_brackets.py
/remove_extra_char
/remove_vowel.py
/replace_substring.py
/ReverseNo.py
/ReverseNoByR.py
/reversenorec.py
/ReverseStringUsingRec.py
/reverse_array.py
/reverse_string.py
/Seondlar.py
/sliceex1.py
/slicemethod.py
/SmallElemRecursion.py
/sorthalf.py
/sort_array.py
/stringex1.py
/stringfreq.py
/String_len.py
/string_length.py
/StrongNo.py
/subarray_product.py
/subsetornor.py
/Sum.py
/SumNatural.py
/SumOfDigit.py
/sumofnumbersinstring.py
/SumRange.py
/Table.py
/tonggle.py
/tonggle2.py
/TupleCount.py
/TupleEx1.py
/vowelornot.py